<div id="main-container" class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>My Book List</h1>
      <ul class="list-group">
	{{#each model as |book|}}
	  <li class="list-group-item">
	    {{book.title}} by {{book.author}}
	  </li>
	{{/each}}
      </ul>
    </div>
  </div>
</div>

